:root {
  --primary-colour: hsl(344, 64%, 34%);
  --secondary-colour: hsl(0, 0%, 0%);
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/*------------------------GENERAL------------------------*/

.body {
  display: flex;
  flex-direction: row;
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;

  & .main {
    width: 70%;
  }
}

.small-image {
  height: 7rem;
}

p {
  margin: 0;
}

/*------------------------SECTION------------------------*/

section {
  padding: 1rem;
  position: relative;
  display: flex;
  gap: 0;

  & .section__left {
    & .pin {
      display: flex;
      align-items: center;
      justify-content: start;

      & .section__title {
        transform: rotate(-90deg);
        transform-origin: top left;
        display: inline-block;
        font-size: 3rem;
        text-transform: uppercase;
        margin: 0;
        white-space: nowrap;
        margin-right: 0.5rem;
      }
    }
  }

  & .section__right {
    padding: 1rem;
    width: 100%;
  }
}

/*------------------------MAIN------------------------*/
.hero {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  & img {
    width: 35rem;
  }
}

.languages {
  width: 75%;
  margin: 0 auto;

  & .language {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    width: 12rem;

    & .language__stars {
      & .star {
        width: 2rem;
      }
    }

    & .language__image {
      height: 6rem;
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  & .table__row {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    & .cell {
      width: 50%;
      padding: 1rem;
      display: flex;
      justify-content: center;

      & ul {
        list-style-type: square;
        font-size: 1.5rem;
      }

      & img {
        width: 22rem;
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  & .grid-item {
    padding: 20px;
    text-align: center;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  color: white;

  & .card {
    height: auto;
    width: 90%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    background-color: var(--primary-colour);

    & .project__title {
      text-align: center;
      margin-left: 0.625rem;
      margin-right: 0.625rem;
      font-size: 1.5rem;
    }

    & .project__image {
      text-align: center;
      margin: 0;

      & img {
        width: 90%;
        margin: 0.7rem auto;
      }
    }

    & .project__description {
      margin-left: 0.625rem;
      margin-right: 0.625rem;
      text-align: center;
      font-size: 1.2rem;
    }

    & .project__languages {
      font-style: italic;
      font-family: "Lato";
      font-weight: 400;
    }
  }
}

/*------------------------SIDEBAR------------------------*/
.aside {
  & .aside__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-colour);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    position: fixed;
    height: 90svh;
    width: 30%;

    & .navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2.5rem;

      & a {
        color: white;
        text-decoration: none;
        font-size: 2.5rem;
      }
    }

    & .contact {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      & .contact__item__image {
        width: 2.75rem;
      }
    }

    & .copyright {
      & p {
        color: white;
      }
    }
  }
}
