:root {
    --primary-colour: hsl(344, 64%, 34%);
    --secondary-colour: hsl(0, 0%, 0%);
}

.body {
  display: flex;
  flex-direction: row;

  & .main {
    width: 70%;
  }
}

.small-image {
  height: 7rem;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  & .language {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px black solid;

    & .language__stars {
      & .star {
        width: 2rem;
      }
    }
  }
}

/* SIDEBAR */
.aside {
  & .aside__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-colour);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    position: fixed;
    height: 90svh;
    width: 30%;

    & .navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2.5rem;

      & a {
        color: white;
        text-decoration: none;
        font-size: 2.5rem;
      }
    }

    & .contact {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      & .contact__item__image {
        width: 2.75rem;
      }
    }

    & .copyright {
      & p {
        color: white;
      }
    }
  }
}
