.body {
  display: flex;
  flex-direction: row;


 & .main {
    width: 70%;
 }
}

.aside {
  background-color: red;
  
}

.small-image
{
    height: 7rem;
}

.languages
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    & .language
    {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border: 1px black solid;

        & .language__stars
        {
            & .star
            {
                width: 2rem;
            }
        }
    }
}

