{% extends "layouts/default.njk" %}        

{% block main %}
    <img src="assets/images/portrait-portfolio.png" alt="Drawn portrait Lauren Wille">

    <div class="languages">
        {%- for post in collections.languages -%}
            <div class="language">
                <img class="small-image" src="/assets/images/{{post.data.image}}" alt="{{post.data.title}}">
                <div class="language__stars">
                    {{ post.data.stars | getStars | safe }}
                </div>
            </div>
        {%- endfor -%}  
    </div>

{% endblock main %}