<aside class="aside">
    <div class="aside__content">
        <div class="navigation">
            <a href="#home">home</a>
            <a href="#about">about me</a>
            <a href="#languages">languages</a>
            <a href="#projects">projects</a>
        </div>

        <div class="contact">
            {% for item in contactInfo %}
            <div class="contact__item">
                    <a href="{{ item.link }}">
                        <img class="contact__item__image" src="/assets/images/social-media/{{item.image}}" alt="{{ item.via }}">
                    </a> 
                </div>           
            {% endfor %}
        </div>  

        <div class="copyright">
            <p>2024 - Lauren Wille</p>
        </div>
    </div>
</aside>